@import "./base.css";

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrap {
  width: 530px;
  border-radius: 12px;
  padding: 30px;
  margin-top: 30px;
  background-color: white;
}
.form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
select:invalid { 
  color: gray; 
}
.submit {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f64e60;
}
