<script setup>
  import { ref, onMounted } from 'vue'
  const jobs = ref([])
  const skills = ref([])
  const selectedJob = ref()
  const selectedSkills = ref([])

  async function getJobs() {
    try {
      const res = await fetch('http://demo73.energeek.co.id/energeek-frontend-test/public/api/select_list/job')
      const json = await res.json()
      if (res.ok) jobs.value = json.data.jobs
    } catch (error) {
      
    }
  }
  async function getSkills() {
    const res = await fetch('http://demo73.energeek.co.id/energeek-frontend-test/public/api/select_list/skill')
    const json = await res.json()
    if (res.ok) skills.value = json.data.skills
  }

  function onSubmit(e) {
    console.log(selectedJob.value, selectedSkills.value)
  }

  onMounted(() => {
    getJobs()
    getSkills()
  })
</script>

<template>
  <div class="wrap">
    <header>
      <img alt="Energerk logo" src="./assets/logo-energeek.png" />
    </header>
    <section class="form-wrap">
      <h1 class="form-title">Apply Lamaran</h1>
      <form @submit.prevent="onSubmit">
        <div class="mb-3">
          <label for="jabatan" class="form-label">Jabatan</label>
          <select v-model="selectedJob" id="jabatan" class="form-select" aria-label="Default select example">
            <option disabled selected hidden>Pilih Jabatan</option>
            <option v-for="job in jobs" :key="job.id" :value="job.id">{{ job.name }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="telepon" class="form-label">Telepon</label>
          <input type="text" class="form-control" id="telepon" aria-describedby="teleponHelp" placeholder="Cth: 089688227069">
          <!-- <div id="teleponHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Cth: heypurnomo@gmail.com">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Tanggal Lahir</label>
          <input type="date" class="form-control" id="date" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="skills" class="form-label">skills</label>
          <select v-model="selectedSkills" id="skills" class="form-select" aria-label="Default select example" multiple>
            <option disabled selected hidden>Pilih Jabatan</option>
            <option v-for="skill in skills" :key="skill.id" :value="skill.id">{{ skill.name }}</option>
          </select>
        </div>
        <button type="submit" class="submit">Submit</button>
      </form>
    </section>
  </div>

</template>

